$red: rgba(244,67,54,1);
$red-text: invert(rgba(244,67,54,1));

$pink: rgba(233,30,99,1);
$pink-text: invert(rgba(233,30,99,1));

$purple: rgba(156,39,176,1);
$purple-text: invert(rgba(156,39,176,1));

$indigo: rgba(63,81,181,1);
$indigo-text: invert(rgba(63,81,181,1));
