.red {
  background: $red;
  color: $red-text;
}

.pink {
  background: $pink;
  color: $pink-text;
}

.purple {
  background: $purple;
  color: $purple-text;
}

.indigo {
  background: $indigo;
  color: $indigo-text;
}
